

#second_part{
MARGIN: 22px 0px 0px 0px;
WIDTH: 980px;
Height:368px;
CLEAR: both;
display: block;
position:relative;
font-weight:bold;
FONT-SIZE: 12px;
}

.second_left{
width:480px;
float:left;
}

.second_right{
width:480px;
float:right;
}

.blue_part_line{
	border-top:5px solid #009ee7;
	height:12px;
	width:480px;
	margin:7px 0px;
}

.second_picture2{
   margin:10px 0px;
}

.dark_part_line{
	border-top:1px solid #000000;
	height:12px;
	width:480px;
	margin:10px auto;
}
.third_part{
CLEAR: both;
margin:22px 0px 0px 0px;

}

.third_part_title{
font-weight:bold;
FONT-SIZE: 12px;
}

.third_part_content{
float:left;
margin:0px 36px 0px 0px;
}


.blue_line{
	border-top:5px solid #009ee7;
	height:12px;
	width:980px;
	margin:7px 0px 0px 0px;
}



.third_part_p1{
CLEAR: both;
margin: 14px 0px 0px 0px;
FONT-SIZE: 12px;
font-weight:bold
}

.third_part_p2{
CLEAR: both;

FONT-SIZE: 12px;
}
.third_part_p3{
margin: 5px 0px 0px 0px;

}

.forth_part{
clear:both;
text-align:right;
}

