.c1{
margin:22px 0px 0px 0px;
color:#898989;
font-size:14px;
}
.c2{
padding:0px  0px 0px 550px;
font-size:14px;

}

.c3{
clear:both;
color:#898989;
font-size:14px;
margin:12px 0px 45px 0px;
line-height:20px;
}