

.c1{

}



.c2{
margin:44px 0px 0px 0px;
color:#BA1C22;
font-size:14px
}

.c3{
margin:12px 0px 0px 0px;
color:#898989;
font-size:12px;
line-height: 20px;
}

.c4{
margin:12px 0px 0px 0px;
color:#898989;
font-size:12px
}

.c5{
margin:2px 0px 0px 0px;
color:#898989;
font-size:12px;
line-height:20px;
padding:0px 0px 0px  77px;
}


.c6{
margin:22px 0px 0px 0px;
color:#00a0e9;
font-size:14px
}


.c7{
margin:22px 0px 0px 0px;
color:#61a345;
font-size:14px
}

.c8{
margin:2px 0px 45px 0px;
color:#898989;
font-size:12px;
line-height:20px;
padding:0px 0px 0px 126px;
}
